.form-container .wrapper h5{
    color: white;
}
.form-container .wrapper a, .wrapper p{
    text-decoration: none;
    color: white;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.form-container{
    margin: 0;
    padding: 25px 0;
    height: 100vh; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    background: url('../images/logo.png') no-repeat, url('../images/background_img.png') no-repeat;
    background-size: 450px 145px, cover;
    background-position: 50% 0%, 50%;
}
.wrapper{
    padding: 55px 0;
    font-family: sans-serif;
    height: 60%;
    overflow: hidden;
    width: 500px;
    display: flex;
    align-items: center; 
    justify-content: center;
    text-align: center;
    position: relative;
    background: linear-gradient(#8d0a15, #43161d);
    border-radius: 10px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.50), 0 15px 18px rgba(0,0,0,0.62);
}

.login-form{
    width: 500px;
    position: absolute;
    left: 0;
    transition: 1s left;
}
.token-form{
    width: 500px;
    position: absolute;
    right: -500px;
    transition: 1s right;
}

.input-container{
    position: relative;
    margin-bottom: 25px;
}

.input-container .input-icon{
    width: 15px;
    top: 7px;
    left: 30%;
    position: absolute;
}

/* Input fields CSS */
#username, #password, #email{
    outline: none;
    border: none;
    background-color: transparent;
    padding: 10px 0;
    margin-left: 40px;
    width: 40%;
    color: white;
    border-bottom: .2px solid  rgba(255, 255, 255, .3);
}

/* Style placeholder and animate bottom-border on focus */ 
#username::placeholder, #password::placeholder, #email::placeholder{
    padding-left: 5px;
    font-size: 16px;
}
#username:focus::placeholder, 
#password:focus::placeholder, 
#email:focus::placeholder{
    color: transparent;
}
#username:focus, #password:focus, #email:focus{
    border-bottom: 1px solid ;
    animation: 2s opacityBorder;
}
@keyframes opacityBorder{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/* animate icons on focus */
#username:focus + img, 
#password:focus + img,
#email:focus + img{
    top: -8px;
    transition: .5s top;
}
#username:not(:focus) + img, 
#password:not(:focus) + img,
#email:not(:focus) + img
{
    top: 7px;
    transition: .6s top;
}


.login-form .button-container{
    display: flex;
    justify-content: space-around;
    margin: 20px 0
}
.button-container a, .button-container input{
    padding: 8px 25px;
}
.button-container input{
    outline:none !important;
    border-radius: 8px;
    background-color: transparent;
    color: white;
    border: 2px solid rgba(0, 0, 0, .2);
    cursor: pointer;
}

@media screen and (max-width: 480px) {
  .login-form, .token-form, .reset-form{ 
    width: 100%;
  }
}
@media screen and (min-width: 568px) and (max-width: 568px){
    .wrapper{
         padding: 75px 0;
    }
}
/* Positioning logo for devices with 320px */
@media screen and (min-width: 320px) and (max-width: 320px){
    .form-container{
        background-position: 50% -5%, 50%;
    }
}

/* Style token form input */
.token-form .token-input{
    outline: none;
    border: none;
    background-color: transparent;
    padding: 10px 0;
    width: 30%;
    color: white;
    border-bottom: .2px solid  rgba(255, 255, 255, .3);
}

/* Hidden input spinner */
.token-form .token-input[type=number]::-webkit-inner-spin-button,
.token-form .token-input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none; 
      margin: 0; 
}

/* hide spinner for mozilla browsers */
.token-form .token-input[type=number] {
    -moz-appearance:textfield;
}

/* Style buttons and icons on the form */
.token-form .token-input:focus{
    border-bottom: 1px solid ;
    animation: 2s opacityBorder;
}
.token-form .button-container div{
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}
.token-form .button-container div button,.token-form .button-container div a, .token-form .button-container .backup-token{
    padding: 8px 25px;
}
.token-form .button-container div input, .token-form .button-container .backup-token{
    outline:none !important;
    border-radius: 8px;
    background-color: transparent;
    color: white;
    border: 2px solid rgba(0, 0, 0, .2);
    cursor: pointer;
}
.token-form #token:focus + img{
    top: -8px;
    transition: .5s top;
}
.token-form #token:not(:focus) + img{
    top: 7px;
    transition: .6s top;
}

/* Button hover effect */
.form-container #login_btn,
.form-container #back,
.form-container #next,
.form-container .backup-token{
  position: relative;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: all 0.3s ease-in-out;
}
.form-container #login_btn::after,
.form-container #back::after,
.form-container #next::after,
.form-container .backup-token::after{
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transition: opacity 0.3s ease-in-out;
}
.form-container #login_btn:hover,
.form-container #back:hover,
.form-container #next:hover,
.form-container .backup-token:hover{
    transform: scale(1.2, 1.2);
}

/* Reset password form CSS */
.reset-form h5{
   padding: 0 10px;
}
.reset-form{
    width: 100%;
    position: absolute;
    left: -500px;
    transition: 1s;
}

























